@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.ttf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto-Bold.ttf);
  font-weight: bold;
  font-display: swap;
}