@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url(./Roboto-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}