.content__section{
  padding: 88px 168px;
}

.background__light-theme{
  background-color: #1b2944;
}

.background__dark-theme{
  background-color: #141f35;
}

/*============header============*/

.header{
  padding: 40px 168px 0;
}

/*============about============*/

/*============features============*/

/*============portfolio============*/

/*============gallery============*/

/*============contacts============*/

