.body {
  color: #fff;
  font-family: Roboto, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  background-color: #777;
}

.content__section {
  padding: 88px 168px;
}

.background__light-theme {
  background-color: #1b2944;
}

.background__dark-theme {
  background-color: #141f35;
}

/*============header============*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 168px 0;
  line-height: 100%;
}

.header__logo {
}

.header__logo-image {
  width: 100px;
}

.socials {
  display: flex;
  gap: 0 16px;
}

.socials__item {
}

.fit-link {
  display: block;
  min-height: fit-content;
}

.socials__image {
  width: 20px;
  height: 20px;
}

/*============about============*/

.about {
  display: grid;
  grid-template-columns: 1fr 384px;
  grid-template-rows: 381px;
  justify-content: space-between;
  gap: 96px;
}

.about__content-container {
}

.about__subtitle {
  margin-top: 34px;
  color: #ffbb01;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
}

.about__title {
  margin-top: 12px;
  font-weight: 700;
  font-size: 50px;
  line-height: 118%;
}

.about__info {
  margin-top: 24px;
}

.button {
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 12px;
}

.main__button {
  margin-top: 38px;
  padding: 26px 62px;
  box-shadow: 0 4px 0 #b68500;
  line-height: 110%;
  text-transform: uppercase;
  background-color: #ffbb01;
}

.about__avatar-container {
  margin-top: -2px;
}

.about__avatar-image {
  width: 384px;
  height: 384px;
  border: #fff solid 4px;
  border-radius: 50%;
}

/*============features============*/

.features {
}

.section__subtitle {
  margin-bottom: 49px;
  font-weight: 700;
  font-size: 36px;
  line-height: 117%;
}

.features__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 49px 16px;
  padding-bottom: 6px;
}

.features__card {
}

.features__card-image {
  width: 52px;
  height: 52px;
}

.features__card-title {
  margin: 10px 0 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
}

.features__card-text {
}

/*============portfolio============*/

.portfolio {
}

.portfolio__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.portfolio__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 18px;
  width: 304px;
  min-height: 304px;
  border-radius: 6px;
  padding: 32px;
}

.card__background-chamarel {
  background-image: url(../images/chamarel.jpg);
}

.card__background-golf {
  background-image: url(../images/golf.png);
}

.card__background-falls {
  background-image: url(../images/falls.png);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #213e60 100%);
}

.full-steam-ahead {
  position: relative;
  z-index: 2;
}

.portfolio__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
}

.portfolio__card-button {
  width: fit-content;
  padding: 10px 25px;
  box-shadow: 0 2px 0 #ce1c3e;
  color: #fff;
  line-height: 130%;
  background-color: #ec1f46;
}

/*============gallery============*/

/*============contacts============*/
