.body{
  font-family: Roboto, serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 175%;
}

.content__section{
  padding: 88px 168px;
}

.background__light-theme{
  background-color: #1b2944;
}

.background__dark-theme{
  background-color: #141f35;
}

/*============header============*/

.header{
  padding: 40px 168px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
}

.header__logo-image{
  width: 100px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.socials__item{
  width: 20px;
}

/*============about============*/

/*============features============*/

/*============portfolio============*/

/*============gallery============*/

/*============contacts============*/

